{% extends "app/layout.html" %}
{% load static %}
{% block content %}

<div style="margin: 20px 0">
    <div style="font-size: 28px; color: #1D2939; font-weight: 600; margin-bottom: 30px;">
        Личный кабинет
    </div>
</div>
<div style="margin: 20px 0">
    <div style="font-size: 20px; color: #1D2939; font-weight: 600; margin-bottom: 30px;">
        Аватар
    </div>
</div>
{% if avatar %}
<div class="avatar-container">
    <img src="{{ avatar.avatar.url }}" alt="Avatar" class="avatar-image">
</div>
{% else %}
<div class="avatar-container">
    <div class="avatar-placeholder">Нет аватарки</div>
</div>
{% endif %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ avatar_form.as_p }}
    <input type="hidden" name="avatar_upload" value="1">
    <button type="submit" style="margin-top: 10px; padding: 10px; border: none; border-radius: 5px; background-color: #1D2939; color: #fff; font-size: 16px; cursor: pointer;">Загрузить</button>
</form>
<div style="margin: 20px 0">
    <div style="font-size: 20px; color: #1D2939; font-weight: 600; margin-bottom: 30px;">
        Изменить пароль
    </div>
</div>
<form method="post" style="max-width: 500px;">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="password_change" value="1">
    <button type="submit" style="margin-top: 10px; padding: 10px; border: none; border-radius: 5px; background-color: #1D2939; color: #fff; font-size: 16px; cursor: pointer;">Изменить</button>
</form>
<div style="margin: 20px 0">
    <div style="font-size: 20px; color: #1D2939; font-weight: 600; margin-bottom: 30px;">
        Активные заказы
    </div>
</div>
{% if active_orders %}
<div class="orders-block" style="display: flex; flex-direction:column; width: 100%; margin-bottom: 20px; gap: 15px;">
    {% for order in active_orders %}
    <div style="display: flex; flex-direction: column; justify-content: space-between; border: 1px solid #ccc; padding: 20px; border-radius: 20px">
        <div style="display: flex; align-items: center; justify-content: space-between; margin-bottom: 10px;">
            <div style="font-size: 16px; width: 300px; font-weight: bold; color: #1D2939">Заказ №{{ order.id }} - от {{ order.created_at }}</div>
            <div style="font-size: 16px; width: 160px; margin-left: 20px;">Кол-во товаров: <b style="color: #1D2939">{{ order.items.count }}</b></div>
            <div style="font-size: 16px; width: 200px; margin-left: 20px;">Общая сумма: <b style="color: #1D2939">{{ order.total_cost }} ₽</b></div>
        </div>
        <div style="display: flex; align-items: center; width: 100%; gap: 20px;">
            <div style="display: flex; width: fit-content">
                <button class="show-items-btn show-items-btn-{{ order.id }}" onclick="toggleOrderItems({ order,id },)" style="padding: 5px 10px; background-color: #1D2939; color: #fff; border: none; border-radius: 5px; cursor: pointer;">Показать товары</button>
            </div>
            <div style="display: flex; width: fit-content">
                <button class="show-items-btn show-items-btn-{{ order.id }}" onclick="deleteOrder({ order,id },)" style="padding: 5px 10px; background-color: #e54747; color: #fff; border: none; border-radius: 5px; cursor: pointer;">Удалить заказ</button>
            </div>
        </div>
        <div class="order-items" id="order-items-{{ order.id }}" style="display: none; margin: 10px 0 0 20px; font-size: 16px;">
            <ul>
                {% for item in order.items.all %}
                <li>{{ item.product.name }} - {{ item.count }} шт. - {{ item.price }} ₽ за ед.</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<div style="font-size: 20px; height: 200px; opacity: 0.8; display: flex; justify-content: center; align-items: center">
    Активных заказов не найдено
</div>
{% endif %}
<div style="margin: 20px 0">
    <div style="font-size: 20px; color: #1D2939; font-weight: 600; margin-bottom: 30px;">
        Ваши отзывы
    </div>
</div>
<div style="display: flex; flex-direction: column; gap: 10px; width: 100%;">
    {% if reviews|length > 0 %}
    {% for review in reviews %}
    <div style="width: 100%; display: flex; flex-direction: column; justify-content: space-between; border: 1px solid #ccc; padding: 20px; border-radius: 20px">
        <div style="display: flex; justify-content: space-between; flex-direction: column; margin-bottom: 10px; gap: 5px">
            <div style="display: flex; justify-content: space-between; align-items: center; gap: 10px;">
                <div style="font-size: 20px; font-weight: 600; color: #1D2939">{{ review.product.name }}</div>
                <div style="display: flex; width: fit-content">
                    <button class="show-items-btn show-items-btn-{{ order.id }}" onclick="deleteReview({ review,id })" style="padding: 5px 10px; background-color: #e54747; color: #fff; border: none; border-radius: 5px; cursor: pointer;">Удалить отзыв</button>
                </div>
            </div>
            <div style="display: flex; align-items: center; gap: 5px; width: 160px; font-size: 18px; font-weight: 600">
                <b style="color: #f2d026">{{ review.grade }}</b>
                <div style="display: flex; align-items: center; gap: 5px;">
                    {% if review.grade == 1 %}
                    <img src="../../static/app/content/star.svg" alt="star" style="width: 20px;">
                    {% elif review.grade == 2 %}
                    <img src="../../static/app/content/star.svg" alt="star" style="width: 20px;">
                    <img src="../../static/app/content/star.svg" alt="star" style="width: 20px;">
                    {% elif review.grade == 3 %}
                    <img src="../../static/app/content/star.svg" alt="star" style="width: 20px;">
                    <img src="../../static/app/content/star.svg" alt="star" style="width: 20px;">
                    <img src="../../static/app/content/star.svg" alt="star" style="width: 20px;">
                    {% elif review.grade == 4 %}
                    <img src="../../static/app/content/star.svg" alt="star" style="width: 20px;">
                    <img src="../../static/app/content/star.svg" alt="star" style="width: 20px;">
                    <img src="../../static/app/content/star.svg" alt="star" style="width: 20px;">
                    <img src="../../static/app/content/star.svg" alt="star" style="width: 20px;">
                    {% elif review.grade == 5 %}
                    <img src="../../static/app/content/star.svg" alt="star" style="width: 20px;">
                    <img src="../../static/app/content/star.svg" alt="star" style="width: 20px;">
                    <img src="../../static/app/content/star.svg" alt="star" style="width: 20px;">
                    <img src="../../static/app/content/star.svg" alt="star" style="width: 20px;">
                    <img src="../../static/app/content/star.svg" alt="star" style="width: 20px;">
                    {% endif %}
                </div>
            </div>
            <div style="width: 200px; font-size: 16px; font-weight: 600">Комментарий:</div>
            <div style="width: 100%; font-size: 16px;">{{ review.text }}</div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div style="font-size: 20px; height: 200px; opacity: 0.8; display: flex; justify-content: center; align-items: center">
        Отзывы отсутствуют
    </div>
    {% endif %}
</div>
<script>
    function toggleOrderItems(orderId) {
        var itemsDiv = document.getElementById('order-items-' + orderId);
        var button = document.querySelector('.show-items-btn-' + orderId);
        if (itemsDiv.style.display === 'none') {
            itemsDiv.style.display = 'block';
            button.innerText = 'Скрыть товары';
        } else {
            itemsDiv.style.display = 'none';
            button.innerText = 'Показать товары';
        }
    }

    function deleteOrder(orderId) {
        if (confirm("Вы уверены, что хотите удалить этот заказ?")) {
            fetch(`/delete_order/${orderId}/`, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                }
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Ошибка удаления заказа');
                    }
                    return response.json();
                })
                .then(data => {
                    alert(data.message);
                    location.reload();
                })
                .catch(error => {
                    alert(error.message);
                });
        }
    }

    function deleteReview(reviewId) {
        if (confirm("Вы уверены, что хотите удалить этот отзыв?")) {
            fetch(`/delete_review/${reviewId}/`, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                }
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Ошибка удаления отзыва');
                    }
                    return response.json();
                })
                .then(data => {
                    alert(data.message);
                    location.reload();
                })
                .catch(error => {
                    alert(error.message);
                });
        }
    }
</script>

{% endblock %}