{% extends "app/layout.html" %}

{% block content %}

<div style="margin: 20px 0">
    <div style="font-size: 24px; color: #1D2939; font-weight: 600; margin-bottom: 30px;">
        Контакты
    </div>
    <div>
        <p><strong>Адрес:</strong> ул. Примерная, д. 123, г. Примерный</p>
        <p><strong>Телефон:</strong> +7 (123) 456-78-90</p>
        <p><strong>Время работы:</strong> Понедельник - Пятница: 9:00 - 18:00, Суббота: 10:00 - 15:00, Воскресенье - выходной</p>
    </div>
</div>

{% endblock %}
