{% extends "app/layout.html" %}

{% block content %}

<div style="margin: 20px 0">
    <div style="font-size: 28px; color: #1D2939; font-weight: 600; margin-bottom: 30px;">
        Партнеры
    </div>
    <div style="font-size: 16px;">
        <div style="display: flex; align-items: center; margin-bottom: 10px;">
            <img src="../../static/app/content/part1.png" alt="МУЗТОРГ" style="margin-right: 10px; width: 70px; height: 70px; border-radius: 20px; object-fit: cover;">
            <a href="https://www.ikea.com/" >МУЗТОРГ</a>
        </div>
        <div style="display: flex; align-items: center; margin-bottom: 10px;">
            <img src="../../static/app/content/part2.png" alt="DR HEAD" style="margin-right: 10px; width: 70px; height: 70px; border-radius: 20px; object-fit: cover;">
            <a href="https://www.leroymerlin.ru/">DR HEAD</a>
        </div>
        <div style="display: flex; align-items: center; margin-bottom: 10px;">
            <img src="../../static/app/content/part3.png" alt="PULT RU" style="margin-right: 10px; width: 70px; height: 70px; border-radius: 20px; object-fit: cover;">
            <a href="https://www.castorama.ru/">PULT RU</a>
        </div>
        <div style="display: flex; align-items: center; margin-bottom: 10px;">
            <img src="../../static/app/content/part4.png" alt="POP MUSIC" style="margin-right: 10px; width: 70px; height: 70px; border-radius: 20px; object-fit: cover;">
            <a href="https://www.homepro.ru/">POP MUSIC</a>
        </div>
    </div>
</div>

{% endblock %}