{% extends "app/layout.html" %}
{% block content %}

<div style="font-size: 28px; color: #1D2939; font-weight: 600; margin-bottom: 30px;">
    Регистрация
</div>
<form method="POST" style="max-width: 500px;">
    {% csrf_token %}
    <div style="margin-bottom: 10px;">
        <label>Имя пользователя</label>
        {{ regform.username }}
        {% if regform.username.errors %}
        <p style="color: red;">{{ regform.username.errors }}</p>
        {% endif %}
    </div>
    <div style="margin-bottom: 10px;">
        {{ regform.password1.label_tag }}
        {{ regform.password1 }}
        {% if regform.password1.errors %}
        <p style="color: red;">{{ regform.password1.errors }}</p>
        {% endif %}
    </div>
    <div style="margin-bottom: 10px;">
        {{ regform.password2.label_tag }}
        {{ regform.password2 }}
        {% if regform.password2.errors %}
        <p style="color: red;">{{ regform.password2.errors }}</p>
        {% endif %}
    </div>
    <div>
        <button type="submit" style="padding: 10px; border: none; border-radius: 5px; background-color: #1D2939; color: #fff; font-size: 16px; cursor: pointer;">Зарегистрироваться</button>
    </div>
</form>
{% endblock %}
